*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: aqua;
}
.mean{
    margin: 20px auto;
    max-width: 1100px;
    background-color: aliceblue;
    padding: 30 2%;
    
}
.mean h3{
    color: #ef5350;
    text-align: center;
    font-size: 40px;
}
.pokemon-boxs{
    display: flex;
    margin: 20px 0;
    flex-wrap: wrap;
}
.pokemon-box{
    background-color: rgba(160, 155, 155, 0.568);
    width: 28%;
    margin: 20 2%;
    border-radius: 10px;  
}
.pokemon-box img{
    width: 100%;
}
.pokemon-box p{
    text-align: center;
    font-size: 24px;
    padding: 10px 0;
}
@media screen and (max-width: 768px){
    .pokemon-box{
        width: 100%;
        text-align: center;
    }
    .pokemon-box img{
        max-width: 300px;
    }
}